.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 0;
}

.Chat_div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 94%;
    color: #fff;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    opacity: 1;
}

.Chat_div.delete_rigth {
    justify-content: flex-end;
    margin-left: auto;
}

.Chat_div.hide {
    opacity: 0;
}

.delete_user_msg, .delete_msg {
    border-radius: 50px;
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-style: none;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.delete_user_msg {
    flex: 2;
    justify-self: flex-end;
}

.delete_user_msg:hover, .delete_msg:hover {
    border: 1px solid #fff;
}

.delete_msg {
    margin-left: 1rem;
}

.Chat {
    margin: 1rem 0;
    color: #fff;
    padding: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(161,212,215,0.4948354341736695) 0%, rgba(55,139,223,0.48923319327731096) 24%, rgba(74,196,221,0.5592612044817927) 91%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.Chat.is_user_msg {
    background: #2b2c33;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (min-width: 576px) {
    .Chat {
        max-width: 60%;
    }
}

